:root {
  --border-color: brown;
  --bg-color: chocolate;
  --window-color: yellow;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#house {
  flex: 0 0 auto;
  position: relative;
  background-color: var(--bg-color);
  border: 6px solid var(--border-color);
  width: 500px;
  height: 400px;
}

#house > div {
  position: absolute;
}

#chimney {
  border: 2px solid black;
  width: 80px;
  height: 120px;
  z-index: -999;
  top: -120px;
  left: 300px;
  background: repeating-linear-gradient(grey, grey 5%, black 5%, black 10%);
}

#roof {
  top: 0;
  border: none;
  width: 100%;
  height: 100px;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 2%,
      var(--border-color) 2%,
      var(--border-color) 4%
    ),
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 2%,
      var(--border-color) 2%,
      var(--border-color) 4%
    );
}

#window-1,
#window-2 {
  box-sizing: content-box;
  top: 150px;
  width: 120px;
  height: 120px;
  border: 5px solid var(--border-color);
  background: linear-gradient(
    90deg,
    var(--window-color),
    var(--window-color) 49%,
    var(--border-color) 48%,
    var(--border-color) 52%,
    var(--window-color) 52%,
    var(--window-color) 100%
  );
}

#window-1 {
  left: 30px;
}

#window-2 {
  right: 30px;
}

#door {
  bottom: 0;
  left: 185px;
  right: 185px;
  background-color: darkgray;
  border: none;
  outline: 5px solid var(--border-color);
  height: 180px;
  width: 120px;
}

#knob {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--border-color);
  border-radius: 50%;
  top: 100px;
  right: 10px;
}
