body {
  padding: 20px;
  font-family: sans-serif;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

hr {
  background-color: brown;
  border-color: brown;
  height: 2px;
}

.menu {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: burlywood;
}

.item p {
  font-size: 18px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flavor,
.dessert{
  width: 75%;
  text-align: left;
}

.price {
  width: 25%;
  text-align: right;
}

h1,
h2,
p {
  text-align: center;
}

h1,
h2 {
  font-family: Impact, serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

.bottom-line {
  margin-top: 25px;
}

/* FOOTER */

footer {
  font-size: 14px;
}

address {
  font-style: normal;
}

a {
  color: black;
}

a:hover {
  color: brown;
}

a:visited {
  color: black;
}

a:active {
  color: brown;
}

.address {
  margin-bottom: 5px;
}