body {
  font-family: Arial, sans-serif;
  background-color: rosybrown;
}

a {
  text-decoration: none;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card {
  background-color: antiquewhite;
  text-align: center;
  font-size: 16px;
  width: 300px;
  margin: 100px auto 0 auto;
  padding: 20px;
}
.profile-image {
  max-width: 100%;
}
